.pln{color:#EEE}
/*
@media screen{
	.str{color:#080}
	.kwd{color:#008}
	.com{color:#800}
	.typ{color:#606}
	.lit{color:#066}
	.pun,.opn,.clo{color:#660}
	.tag{color:#008}
	.atn{color:#606}
	.atv{color:#080}
	.dec,.var{color:#606}
	.fun{color:red}
}
	*/
@media screen{
	.str{color:#E6DB74}
	.kwd{color:#F92672}
	.com{color:#75715E}
	.typ{color:#66D9EF}
	.lit{color:#F92672}
	.pun,.opn,.clo{color:#AE81FF}
	.tag{color:#F92672}
	.atn{color:#888A85}
	.atv{color:#66D9EF}
	.dec,.var{color:#66D9EF}
	.fun{color:#A6E22E}
}
@media print,projection{
	.str{color:#060}
	.kwd{color:#006;font-weight:bold}
	.com{color:#600;font-style:italic}
	.typ{color:#404;font-weight:bold}
	.lit{color:#044}
	.pun,.opn,.clo{color:#440}
	.tag{color:#006;font-weight:bold}
	.atn{color:#404}
	.atv{color:#060}
}
pre.prettyprint{
	color: #EEEEEE;
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace; 
	line-height: 150%;
	font-size: 80%;
	padding: 10px 10px;
	background-color: #002b36;
	border-left: 25px solid #333333;
	border-radius: 6px;
	box-shadow: 2px 2px 3px #222222;
}
ol.linenums{
	margin-top:0;
	margin-bottom:0
}
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{
	list-style-type:none
}
li.L1,li.L3,li.L5,li.L7,li.L9{
	background:#eee
}
