body { 
    font-family: "Palatino Linotype", "Vera Sans Yuanti", "STHeiti", "Microsoft YaHei", "Palatino Linotype", "NSimSun", serif; 
    background-color: #FEFEFE; 
    color: #444;
/*    font-size: 14px/160%; */
    width: 40em;
}
