body { 
    font-family: "Palatino Linotype", "Vera Sans Yuanti", "STHeiti", "Microsoft YaHei", "Palatino Linotype", "NSimSun", serif; 
    background-color: #FEFEFE; 
    color: #444;
    font-size: 14px/160%;
    width: 40em;
}

/* optimize reading experience for iphone. */
@media all and (orientation: portrait) {
    body { width: 95%;}
}

a { 
    color: black; 
}

p {
    line-height: 150%;
}

ol {
    line-height: 200%;
}

p code, li>code { 
    background-color:#EEEEFF; 
    border:1px solid #DDDDDD; 
    font-size:95%; 
    padding:0 0.2em; 
}

pre { 
    background: #EEE;
    padding-left: 0.5em; 
    overflow:auto;
    font-family: "Consolas", "Inconsolata", "Anonymous", "Monaco", monospace;
    -webkit-overflow-scrolling: touch;
}

.highlight pre { 
    background: #999;
    color: black;
}

/* Styles that I've altered. */
.highlight .c, .highlight .sd { color: #cad0d3 } /* Comment|String.Doc */
.highlight .k { color: #625c52 } /* Keyword */
.highlight .n { color: #241d00 } /* Name */
.highlight .nd, .highlight .nf, .highlight .nc { color: #bbe2d6 } /* Name.Decorator|Function|Name.Class */
.highlight .nb { color: #b5c1cf } /* Name.Builtin */
.highlight .s, .highlight .si { color: #213d62 } /* Literal.String|Literal.String.Interpol */
.highlight .o, .highlight .p, .highlight .ow { color: #e1dbcd } /* Operator|Punctuation|Operator.Word */
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo { color: #d5ccd3 } /* Literal.Number */
.highlight .ne { color: #89303f } /* Name.Exception */

/* Default styles. */
.highlight .hll { background-color: #49483e }
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #d5ccd3 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #b5c1cf; font-weight: bold } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
